/* Button sizes */
.button-lg {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 50px;
  padding: 16px 40px;
}

.btn-md {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 50px;
  padding: 12px 32px;
}

.btn-sm {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 50px;
  padding: 9px 24px;
}


/* Button styles */

/* Contained */
.button-contained {
  color: var(--contrast-color);
  background-color: var(--forest100-color);
  border: none;
}

.button-contained:hover {
  color: var(--contrast-color);
  background-color: var(--primary-color);
  border: none;}

.button-contained:focus {
  color: var(--contrast-color);
  background-color: var(--forest100-color);
  border: none;
  outline: 2px solid var(--valley300-color);
  outline-offset: 4px;
}

.button-contained:disabled {
  color: var(--contrast-color);
  background-color: var(--grey500);
  border: none;
}


.button-lg.button-contained {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 50px;
  padding: 16px 40px;
  color: var(--contrast-color);
  background-color: var(--forest100-color);
  border: none;
}

/* Outline */
.btn-outline {
  color: var(--forest100-color);
  background-color: transparent;
  border: 2px solid var(--forest100-color);
}

.btn-outline:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.btn-outline:focus {
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  outline: 2px solid var(--valley300-color);
  outline-offset: 4px;
}

.btn-outline:disabled {
  color: var(--grey600);
  background-color: transparent;
  border: 2px solid var(--grey600);
}


/* Text Only */
.btn-text {
  color: var(--forest100-color);
  background-color: transparent;
  border: none;
}

.btn-text:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
}

.btn-text:focus {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  outline: 2px solid var(--valley300-color);
  outline-offset: 4px;
}

.btn-text:disabled {
  color: var(--grey600);
  background-color: transparent;
  border: none;
}


/* Button variations */
.button-icon-right {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.button-icon-right i {
  margin-left: 0.5rem;
}

.button-icon-left {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.button-icon-left i {
  margin-right: 0.5rem;
}

.button-icon-only {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
}


