.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 12vh 0 0 0;
  display: flex;
  align-items: center;
  gap: 10%;
  width: 86vw;
  box-sizing: border-box;

}

.App-container {
  width: 100%;
  height: auto;
  background-color: #FCF9F6;
  display: flex;
  position: absolute;
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  box-sizing: border-box;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

.container-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(252, 249, 246, 1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
  padding: 0 25% 0 25%;
  position: absolute;
  width: 50%;
}

.container-background {
  width: 100%;
  height: auto;
  margin-top: 32px;
}

.background-color {
  width: 100%;
  height: auto;
  margin-top: 50%;
  position: absolute;
  color: #FCF9F6;
  z-index: 3;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 28px;
  color: rgb(4, 46, 48);
  cursor: pointer;
  height: 48px;
  padding: 0px 24px;
  position: relative;
}

.container-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 0px 7px 0px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.container-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: 100%;
  box-sizing: border-box;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: 100%;
  box-sizing: border-box;
}

.illustration-arrow {
  position: relative;
  top: 6.4rem;
  left: -2.4rem;
  width: 25px;
  height: 28px;
}

.illustration-camera {
  position: absolute;
  top: -50px;
  right: -40px;
  width: 138px;
  height: auto;
}


